---
import '../styles/main.css'

const heading = "VeciApp";
const subheadingMobile = "VeciApp es una app social y comunitaria que conecta a migrantes venezolanos, colombianos retornados y comunidades receptoras en Santa Marta con oportunidades de venta y compra de bienes y servicios.";
const subheadingComplete = `VeciApp es una app social y comunitaria que conecta a migrantes venezolanos, colombianos retornados y comunidades receptoras en Santa Marta con oportunidades de venta y compra de bienes y servicios.\n
Promueve la integraci贸n socioecon贸mica, el desarrollo de medios de vida sostenibles y forma parte del programa "Buenos Vecinos" de la Fundaci贸n Maleua, con apoyo de USAID y OIM Colombia.`;
const appIcon = "/images/ios-Light.png";
const appScreenshot = "/images/app-screenshot.png";
//const footerImage = "/images/banners.svg";
const badges = [
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/app-store-badge.svg"
	},
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/google-play-badge.png"
	},
];
const authors = [
	{
		name: "Fundaci贸n Maleua",
		url: "https://maleua.org/es"
	}
];
const pageTitle = "App Showcase"
const favicon = "/images/favicon.svg"
const screenshots = [
    "/images/1.png",
    "/images/2.png",
    "/images/3.png",
    "/images/4.png",
    "/images/5.png",
    "/images/6.png"
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon">
					<h1 class="heading">{heading}</h1>
					<h2 class="subheading subheading-mobile" style="white-space: pre-line;">{subheadingMobile}</h2>
					<h2 class="subheading subheading-desktop" style="white-space: pre-line;">{subheadingComplete}</h2>
					<div class="badge-container">
						{badges.map(badge => (
							<div>
								<a href={badge.link} target="_blank">
									<img src={badge.image} class="badge" />
								</a>
							</div>
						))}
					</div>
					<p class="authors">Hecho con &#x2665; por
						{authors.map((author, index) => (
								<span>
									{index > 0 ? (index === authors.length - 1 ? ' and ' : ', ') : ''}
									<a href={author.url} target="_blank">{author.name}</a>
								</span>
						))}
					</p>
				</div>
				<div class="screenshot-container">
					{screenshots.map((screenshot, index) => (
						<img 
							src={screenshot} 
							class={`app-screenshot ${index === 0 ? 'active' : ''}`} 
							data-index={index}
						/>
					))}
				</div>
			</main>
			<footer>
				
			</footer>
		</div>
	</body>
</html>

<script>
	function rotateScreenshots() {
		const screenshots = document.querySelectorAll('.app-screenshot');
		const total = screenshots.length;
		let current = 0;

		setInterval(() => {
			screenshots[current].classList.remove('active');
			current = (current + 1) % total;
			screenshots[current].classList.add('active');
		}, 1400);
	}

	document.addEventListener('DOMContentLoaded', rotateScreenshots);
</script>
